absl-py==2.2.2
Cython==3.0.0
ethos-u-vela==4.3.0
flatbuffers==24.3.25
joblib==1.4.2
lit==16.0.6
lmdb==1.4.1
loguru==0.7.3
numpy==1.24.3
onnx==1.17.0
onnx2tf==1.20.0
onnx_graphsurgeon==0.5.8
onnxruntime==1.16.3
onnxsim==0.4.17
opt-einsum==3.3.0
protobuf==3.20.3
pybind11-global==2.11.1
requests==2.32.3
sng4onnx==1.0.4
tensorflow==2.13.1
tensorboard==2.13.0
tf2onnx==1.8.4
tpu-mlir==1.19
torch==2.1.0
torchaudio==2.1.0
torchvision==0.16.0
tqdm==4.65.0
xxhash==3.5.0
