absl-py==2.2.2
alabaster==0.7.13
annotated-types==0.7.0
ansi2html==1.9.2
ansible==6.7.0
ansible-core==2.13.13
anyio==4.5.2
argcomplete==3.1.1
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
astor==0.8.1
asttokens==3.0.0
astunparse==1.6.3
async-lru==2.0.4
attrs==25.3.0
babel==2.17.0
backcall==0.2.0
backports.tarfile==1.2.0
bcrypt==4.3.0
build==1.0.3
cachetools==5.5.2
certifi==2025.1.31
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
contourpy==1.1.1
cryptography==44.0.2
cycler==0.12.1
Cython==3.0.0
dash==2.11.1
dash-bootstrap-components==1.4.2
dash-core-components==2.0.0
dash-cytoscape==0.3.0
dash-draggable==0.1.2
dash-html-components==2.0.0
dash-table==5.0.0
debugpy==1.8.14
decorator==5.2.1
defusedxml==0.7.1
diffusers==0.33.1
distlib==0.3.7
docutils==0.18.1
enum34==1.1.10
et_xmlfile==2.0.0
ethos-u-vela==3.9.0
exceptiongroup==1.2.2
execnet==2.1.1
executing==2.2.0
fastjsonschema==2.21.1
filelock==3.12.2
Flask==2.2.5
flatbuffers==2.0.7
fonttools==4.57.0
fqdn==1.5.1
fsspec==2025.3.0
gitdb==4.0.12
GitPython==3.1.32
google-auth==2.38.0
google-auth-oauthlib==1.0.0
graphviz==0.20.1
grpcio==1.56.2
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
huggingface-hub==0.30.2
humanfriendly==10.0
idna==3.10
imageio==2.35.1
imagesize==1.4.1
importlib_metadata==8.5.0
iniconfig==2.1.0
ipykernel==6.24.0
ipython==8.12.3
isoduration==20.11.0
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jedi==0.18.2
jeepney==0.9.0
Jinja2==3.1.2
joblib==1.4.2
json5==0.12.0
jsonpointer==3.0.0
jsonschema==4.18.4
jsonschema-specifications==2023.12.1
kaleido==0.2.1
keyring==25.5.0
kiwisolver==1.4.7
lazy_loader==0.4
lit==16.0.6
livereload==2.7.1
lmdb==1.4.1
loguru==0.7.3
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.7.2
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.1.3
more-itertools==10.5.0
mpmath==1.3.0
nbclient==0.10.1
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.1
nh3==0.2.21
nose==1.3.7
notebook_shim==0.2.4
numpy==1.24.3
oauthlib==3.2.2
onnx==1.14.1
onnxruntime==1.16.3
onnxruntime_extensions==0.13.0
onnxsim==0.4.17
opencv-contrib-python==4.8.0.74
opencv-python-headless==4.8.0.74
openpyxl==3.1.5
opt-einsum==3.3.0
overrides==7.7.0
packaging==23.1
paddle-bfloat==0.1.7
paddle2onnx==1.0.8
paddlepaddle==2.5.0
pandas==2.0.3
pandocfilters==1.5.1
paramiko==3.2.0
parso==0.8.4
pexpect==4.9.0
pickleshare==0.7.5
Pillow==10.0.0
pip==22.0.2
pkginfo==1.12.1.2
platformdirs==3.9.1
plotly==5.15.0
pluggy==1.5.0
prometheus_client==0.21.1
prompt_toolkit==3.0.50
protobuf==3.20.3
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.2
pybind11-global==2.11.1
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
pyparsing==3.0.9
pyproject_hooks==1.2.0
pytest==8.3.5
pytest-timeout==2.3.1
pytest-xdist==3.3.1
python-dateutil==2.8.2
python-json-logger==3.3.0
pytz==2025.2
pyzmq==26.4.0
referencing==0.35.1
regex==2024.11.6
reportlab==4.3.1
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
resolvelib==0.8.1
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986==2.0.0
rfc3986-validator==0.1.1
rich==14.0.0
rpds-py==0.20.1
rsa==4.9
rst2pdf==0.100
safetensors==0.5.3
six==1.16.0
smartypants==2.0.1
smmap==5.0.2
sniffio==1.3.1
snowballstemmer==2.2.0
soupsieve==2.6
stack-data==0.6.3
sympy==1.13.3
tenacity==9.0.0
tensorboard==2.13.0
tensorboard-data-server==0.7.2
termcolor==2.3.0
terminado==0.18.1
tf2onnx==1.8.4
threadpoolctl==3.5.0
tifffile==2023.7.10
tomli==2.2.1
torch==2.1.0
torchaudio==2.1.0
torchvision==0.16.0
tornado==6.4.2
tqdm==4.65.0
traitlets==5.14.3
twine==4.0.2
types-python-dateutil==2.9.0.20241206
typing_extensions==4.13.2
tzdata==2025.2
uri-template==1.3.0
urllib3==2.2.3
virtualenv==20.31.2
wcwidth==0.2.13
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.8.0
zipp==3.20.2

